* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    height: 100vh;
    overflow: hidden;

    background: #020205;

    color: white;

    font-family: "Arial", sans-serif;

}


/* Sfondo stellato */

.stars {

    position: absolute;

    width: 100%;
    height: 100%;

    background-image:
    radial-gradient(circle, rgba(255,255,255,0.8) 1px, transparent 1.5px);

    background-size: 60px 60px;

    animation: starsMove 25s linear infinite;

    opacity: 0.45;

}


@keyframes starsMove {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(80px);
    }

}



/* Nebulosa */

.intro::before {

    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: radial-gradient(
        circle,
        rgba(120,70,255,0.35),
        transparent 70%
    );


    filter: blur(40px);

    animation: pulse 8s infinite alternate;

}



@keyframes pulse {

    from {

        transform: scale(0.9);

        opacity:0.5;

    }


    to {

        transform: scale(1.1);

        opacity:0.8;

    }

}



/* Contenuto centrale */

.intro {

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    position:relative;

}



/* Titolo */

h1 {

    font-size:75px;

    font-weight:600;

    letter-spacing:2px;


    opacity:0;

    animation: appear 2.5s forwards;


    text-shadow:

    0 0 20px rgba(255,255,255,0.3);

}



/* Sottotitolo */

p {

    margin-top:25px;

    font-size:22px;

    color:#d5d5d5;


    opacity:0;

    animation: appear 2.5s forwards;

    animation-delay:1s;

}



/* Bottone */

button {


    margin-top:55px;


    padding:16px 55px;


    border-radius:50px;


    border:

    1px solid rgba(255,255,255,0.35);



    background:

    rgba(255,255,255,0.08);



    color:white;


    font-size:18px;


    cursor:pointer;


    backdrop-filter:blur(10px);



    opacity:0;


    animation: appear 2.5s forwards;

    animation-delay:2s;


    transition:0.4s;


}



button:hover {


    transform:scale(1.1);


    background:

    rgba(255,255,255,0.2);


    box-shadow:

    0 0 30px rgba(255,255,255,0.3);


}



/* Animazione entrata */

@keyframes appear {


    from {

        opacity:0;

        transform:translateY(40px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



/* Smartphone */

@media(max-width:600px){


    h1 {

        font-size:45px;

    }


    p {

        font-size:17px;

    }


}

.fade {

    animation: fadeScreen 2s forwards;

}


@keyframes fadeScreen {


    from {

        opacity:1;

    }


    to {

        opacity:0;

    }

}

.fade {
    animation: fadeScreen 2s forwards;
}


@keyframes fadeScreen {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}
