* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    min-height: 100vh;
    overflow-x: hidden;

    background: #020205;

    color: white;

    font-family: "Arial", sans-serif;

}


/* Sfondo stellato */

.stars {

    position: absolute;

    width: 100%;
    height: 100%;

    background-image:
    radial-gradient(circle, rgba(255,255,255,0.8) 1px, transparent 1.5px);

    background-size: 60px 60px;

    animation: starsMove 25s linear infinite;

    opacity: 0.45;

}


@keyframes starsMove {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(80px);
    }

}



/* Nebulosa */

.intro::before {

    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: radial-gradient(
        circle,
        rgba(120,70,255,0.35),
        transparent 70%
    );


    filter: blur(40px);

    animation: pulse 8s infinite alternate;

}



@keyframes pulse {

    from {

        transform: scale(0.9);

        opacity:0.5;

    }


    to {

        transform: scale(1.1);

        opacity:0.8;

    }

}



/* Contenuto centrale */

.intro {

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    position:relative;

}



/* Titolo */

h1 {

    font-size:75px;

    font-weight:600;

    letter-spacing:2px;


    opacity:0;

    animation: appear 2.5s forwards;


    text-shadow:

    0 0 20px rgba(255,255,255,0.3);

}



/* Sottotitolo */

p {

    margin-top:25px;

    font-size:22px;

    color:#d5d5d5;


    opacity:0;

    animation: appear 2.5s forwards;

    animation-delay:1s;

}



/* Bottone */

button {


    margin-top:55px;


    padding:16px 55px;


    border-radius:50px;


    border:

    1px solid rgba(255,255,255,0.35);



    background:

    rgba(255,255,255,0.08);



    color:white;


    font-size:18px;


    cursor:pointer;


    backdrop-filter:blur(10px);



    opacity:0;


    animation: appear 2.5s forwards;

    animation-delay:2s;


    transition:0.4s;


}



button:hover {


    transform:scale(1.1);


    background:

    rgba(255,255,255,0.2);


    box-shadow:

    0 0 30px rgba(255,255,255,0.3);


}



/* Animazione entrata */

@keyframes appear {


    from {

        opacity:0;

        transform:translateY(40px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



/* Smartphone */

@media(max-width:600px){


    h1 {

        font-size:45px;

    }


    p {

        font-size:17px;

    }


}

.fade {

    animation: fadeScreen 2s forwards;

}


@keyframes fadeScreen {


    from {

        opacity:1;

    }


    to {

        opacity:0;

    }

}

.fade {
    animation: fadeScreen 2s forwards;
}


@keyframes fadeScreen {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.story {

    position: absolute;

    top:0;
    left:0;

    width:100%;
    height:100vh;


    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;


    text-align:center;


    background:#020205;


    opacity:0;


    pointer-events:none;

}


.story h2 {

    font-size:45px;

    max-width:900px;

    line-height:1.3;
}


.story p {

    margin-top:30px;

    font-size:25px;

}

.hide {

    animation: fadeOut 2s forwards;

}



.show {

    animation: fadeInStory 2s forwards;

    pointer-events:auto;

}



@keyframes fadeOut {


    from {

        opacity:1;

    }


    to {

        opacity:0;

    }


}



@keyframes fadeInStory {


    from {

        opacity:0;

    }


    to {

        opacity:1;

    }

}

.letter-section {

    min-height:100vh;

    background:#020205;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    color:white;

    text-align:center;

}



.envelope {

    cursor:pointer;

    transition:1s;

}



.letter-icon {

    font-size:100px;

    filter:drop-shadow(0 0 20px rgba(255,255,255,0.3));

}



.envelope h2 {

    margin-top:20px;

    font-size:35px;

}



#openLetter {

    margin-top:30px;

}



.letter {

    display:none;

    max-width:800px;

    padding:40px;

    font-size:22px;

    line-height:1.8;

}



.open {

    display:block;

    animation:appear 2s forwards;

}



.hide-envelope {

    display:none;

}

.story-page {

    height:100vh;

    background:#020205;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:30px;

}


.story-page h1 {

    max-width:900px;

    font-size:50px;

    animation:appear 2s forwards;

}


.story-page p {

    max-width:700px;

    margin-top:40px;

    font-size:28px;

    animation:appear 2s forwards;

    animation-delay:1s;

}


.story-page button {

    margin-top:60px;

}

/* PAGINA RICORDI */

.memories-page {

    min-height:100vh;

    background:#020205;

    color:white;

    padding:60px 20px;

    text-align:center;

}


.memories-page h1 {

    font-size:55px;

    margin-bottom:80px;

}



.timeline {

    position:relative;

    max-width:900px;

    margin:auto;

}


/* linea centrale */

.timeline::before {

    content:"";

    position:absolute;

    width:3px;

    background:rgba(255,255,255,0.3);

    top:0;

    bottom:0;

    left:50%;

    transform:translateX(-50%);

}



/* singolo ricordo */

.memory {

    position:relative;

    width:45%;

    padding:30px;

    margin-bottom:80px;

    background:rgba(255,255,255,0.06);

    border-radius:25px;

    backdrop-filter:blur(10px);

}



.memory:nth-child(odd) {

    margin-right:auto;

}



.memory:nth-child(even) {

    margin-left:auto;

}



/* pallino sulla linea */

.memory::before {

    content:"❤️";

    position:absolute;

    top:50%;

    right:-75px;

    transform:translateY(-50%);

    font-size:25px;

    z-index:2;

}


.memory:nth-child(even)::before {

    left:-75px;

    right:auto;

}


.memory:nth-child(even)::before {

    left:-65px;

}



/* ricordo speciale */

.special {

    box-shadow:

    0 0 40px rgba(255,100,150,0.4);

}



/* mobile */

@media(max-width:700px){


.timeline::before {

    left:20px;

}


.memory {

    width:85%;

    margin-left:auto!important;

    margin-right:0!important;

}



.memory::before {

    left:-55px!important;

}

}

.memory {

    overflow:visible;

}

.intro {

    height:100vh;

    overflow:hidden;

}

.letter-page {

    min-height:100vh;

    background:#020205;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}


.envelope {

    display:flex;

    flex-direction:column;

    align-items:center;

}

.memory img {

    width:100%;

    max-height:350px;

    object-fit:cover;

    border-radius:20px;

    margin-bottom:25px;

}

.memory {

    opacity:0;

    transform:translateY(50px);

    transition:all 1s ease;

}


.memory.show {

    opacity:1;

    transform:translateY(0);

}

.envelope-shape {

    width:260px;

    height:160px;

    background:#8b1e3f;

    position:relative;

    border-radius:10px;

    margin-bottom:30px;

    overflow:hidden;

}


.flap {

    position:absolute;

    top:0;

    left:0;

    width:0;

    height:0;

    border-left:130px solid transparent;

    border-right:130px solid transparent;

    border-top:80px solid #b52b55;

    transform-origin:top;

    transition:1s;

    z-index:2;

}


.paper {

    position:absolute;

    background:white;

    width:180px;

    height:120px;

    left:40px;

    bottom:-100px;

    border-radius:5px;

    transition:1s;

    color:#b52b55;

    font-size:35px;

    display:flex;

    align-items:center;

    justify-content:center;

}

.envelope-shape.opened .flap {

    transform:rotateX(180deg);

}


.envelope-shape.opened .paper {

    bottom:20px;

}

.heart {

    position:fixed;

    top:-20px;

    font-size:25px;

    animation:fall linear forwards;

    z-index:999;

}



@keyframes fall {


    from {

        transform:translateY(0);

        opacity:1;

    }


    to {

        transform:translateY(110vh);

        opacity:0;

    }


}

#signature {

    margin-top:50px;

    font-size:40px;

    font-family: "Brush Script MT", cursive;

    opacity:0;

    transform:translateY(20px);

    transition:2s;

}


#signature.show {

    opacity:1;

    transform:translateY(0);

}
